
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #d63447;
  --secondary: #f57b51;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


/*-- //container --*/

:root {
  --theme-color: #21174a;
  --theme-yellow: #fac70b;
  --theme-rose: #df0e62;
  --theme-title: #0c0f0a;
  --theme-nav: #262626;
  --theme-dark: #111;
  --theme-lite: #f6f6f6;
  --theme-blue: #127681;
  --theme-para: #888;
  --theme-white: #fff;
  --theme-hd-bg: #fff;
  --theme-border: #f0f0f0;
  --theme-fm-border: #ddd;
  --theme-bg: #fff;
  --theme-progressbar: #d3d3d3;
  --theme-screen-time-border: #555555;
  --theme-bg: #fff;
}

[data-theme="dark"] {
  --theme-rose: #df0e62;
  --theme-para: #888;
  --theme-hd-bg: #0c0f0a;
  --theme-dark: #111;
  --theme-lite: #222;
  --theme-color: #21174a;
  --theme-yellow: #fac70b;
  --theme-title: #fff;
  --theme-nav: rgb(255, 255, 255);
  --theme-white: #fff;
  --theme-bg: #0c0f0a;
  --theme-border: #222;
  --theme-fm-border: #fff;
  --theme-progressbar: rgb(255, 255, 255);
  --theme-screen-time-border: rgb(255, 255, 255);
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
 .owl-carousel,
 .owl-carousel .owl-item {
   -webkit-tap-highlight-color: transparent;
   position: relative;
 }
 
 .owl-carousel {
   display: none;
   width: 100%;
   z-index: 1;
 }
 
 .owl-carousel .owl-stage {
   position: relative;
   touch-action: manipulation;
   -moz-backface-visibility: hidden;
 }
 
 .owl-carousel .owl-stage:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
 }
 
 .owl-carousel .owl-stage-outer {
   position: relative;
   overflow: hidden;
   -webkit-transform: translate3d(0, 0, 0);
 }
 
 .owl-carousel .owl-item,
 .owl-carousel .owl-wrapper {
   -webkit-backface-visibility: hidden;
   -webkit-transform: translate3d(0, 0, 0);
 }
 
 .owl-carousel .owl-item {
   min-height: 1px;
   float: left;
   -webkit-backface-visibility: hidden;
   -webkit-touch-callout: none;
 }
 
 .owl-carousel .owl-dots.disabled,
 .owl-carousel .owl-nav.disabled {
   display: block;
 }
 
 .no-js .owl-carousel,
 .owl-carousel.owl-loaded {
   display: block;
 }
 
 .owl-carousel .owl-dot,
 .owl-carousel .owl-nav .owl-next,
 .owl-carousel .owl-nav .owl-prev {
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 .owl-carousel .owl-nav button.owl-next,
 .owl-carousel .owl-nav button.owl-prev,
 .owl-carousel button.owl-dot {
   border: none;
 }
 
 .owl-carousel.owl-loading {
   opacity: 0;
   display: block;
 }
 
 .owl-carousel.owl-hidden {
   opacity: 0;
 }
 
 .owl-carousel.owl-refresh .owl-item {
   visibility: hidden;
 }
 
 .owl-carousel.owl-drag .owl-item {
   touch-action: pan-y;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 .owl-carousel.owl-grab {
   cursor: move;
   cursor: -webkit-grab;
   cursor: grab;
 }
 
 .owl-carousel.owl-rtl {
   direction: rtl;
 }
 
 .owl-carousel.owl-rtl .owl-item {
   float: right;
 }
 
 .owl-carousel .animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
 }
 
 .owl-carousel .owl-animated-in {
   z-index: 0;
 }
 
 .owl-carousel .owl-animated-out {
   z-index: 1;
 }
 
 .owl-carousel .fadeOut {
   -webkit-animation-name: fadeOut;
   animation-name: fadeOut;
 }
 
 @-webkit-keyframes fadeOut {
   0% {
     opacity: 1;
   }
 
   100% {
     opacity: 0;
   }
 }
 
 @keyframes fadeOut {
   0% {
     opacity: 1;
   }
 
   100% {
     opacity: 0;
   }
 }
 
 .owl-height {
   transition: height .5s ease-in-out;
 }
 
 .owl-carousel .owl-item .owl-lazy {
   opacity: 0;
   transition: opacity .4s ease;
 }
 
 .owl-carousel .owl-item .owl-lazy:not([src]),
 .owl-carousel .owl-item .owl-lazy[src^=""] {
   max-height: 0;
 }
 
 .owl-carousel .owl-item img.owl-lazy {
   transform-style: preserve-3d;
 }
 
 .owl-carousel .owl-video-wrapper {
   position: relative;
   height: 100%;
   background: #000;
 }
 
 .owl-carousel .owl-video-play-icon {
   position: absolute;
   height: 80px;
   width: 80px;
   left: 50%;
   top: 50%;
   margin-left: -40px;
   margin-top: -40px;
   background: url(owl.video.play.png) no-repeat;
   cursor: pointer;
   z-index: 1;
   -webkit-backface-visibility: hidden;
   transition: transform .1s ease;
 }
 
 .owl-carousel .owl-video-play-icon:hover {
   transform: scale(1.3, 1.3);
 }
 
 .owl-carousel .owl-video-playing .owl-video-play-icon,
 .owl-carousel .owl-video-playing .owl-video-tn {
   display: none;
 }
 
 .owl-carousel .owl-video-tn {
   opacity: 0;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
   transition: opacity .4s ease;
 }
 
 .owl-carousel .owl-video-frame {
   position: relative;
   z-index: 1;
   height: 100%;
   width: 100%;
 }
 
 @media (max-width:600px) {
 
   .owl-carousel .owl-dots.disabled,
   .owl-carousel .owl-nav.disabled {
     display: none;
   }
 
   .owl-theme .owl-dots .owl-dot span {
     width: 14px;
     height: 14px;
   }
 }
 
 /**
   * Owl Carousel v2.3.4
   * Copyright 2013-2018 David Deutsch
   * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
   */

   .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: block;
  }
  
  .owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none;
  }
  
  .owl-dots {
    margin-top: 0px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: none;
    display: none;
  }
  
  .owl-theme .owl-nav [class*=owl-] {
    color: var(--theme-rose);
    font-size: 30px;
    margin: 0px;
    width: 50px;
    background: #01080eba;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 50px;
    line-height: 34px;
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  }
  
  .owl-theme .owl-nav [class*=owl-]:hover {
    background: var(--theme-rose);
    opacity: 1;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s ease-in-out;
    color: #fff;
  }
  
  .owl-theme .owl-nav [class*=owl-]:focus,
  .owl-theme:focus,
  .owl-dots:focus,
  .owl-dot:focus {
    outline: none;
    box-shadow: none;
  }
  
  .owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default;
  }
  
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
    display: none;
  }
  
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: var(--theme-title);
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
    position: relative;
  }
  
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--theme-rose);
  }
  
  .owl-mid.owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 2px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
    position: relative;
  }
  
  .owl-mid.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
  .owl-mid.owl-carousel.owl-theme.owl-dots .owl-dot:hover span {
    background: var(--theme-rose);
  }
  
  button.owl-next,
  button.owl-prev {
    position: absolute;
    bottom: 50%;
  }
  
  button.owl-prev {
    left: 0px;
  }
  
  button.owl-next {
    right: 0px;
  }
  
  
  .owl-one.owl-carousel.owl-theme .owl-dots,
  .owl-two.owl-carousel.owl-theme .owl-dots {
    display: none;
  }
  
  /*--/grids--*/
  
  .owl-two.owl-carousel.owl-theme .owl-nav [class*=owl-] {
    background: #fff;
    color: var(--theme-title);
    box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.58);
    display: none;
  }
  
  .owl-two.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    background: var(--theme-rose);
    color: var(--theme-title);
    display: none;
  }
  
  .owl-two.owl-carousel button.owl-prev {
    left: -10px;
    display: none;
  }
  
  .owl-two.owl-carousel button.owl-next {
    right: -10px;
    display: none;
  }
  
  /*--//grids--*/
  /*--/grids2--*/
  .owl-three.owl-carousel.owl-theme button.owl-next,
  .owl-three.owl-carousel.owl-theme button.owl-prev {
    position: absolute;
    top: -28%;
    font-size: 30px;
    display: none;
  }
  
  .owl-three.owl-carousel.owl-theme .owl-nav [class*=owl-] {
    color: var(--theme-title);
    background: none !important;
    box-shadow: none !important;
    display: none;
  }
  
  .owl-three.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    color: var(--theme-rose);
    display: none;
    background: none !important;
    box-shadow: none !important;
  }
  
  .owl-three.owl-carousel button.owl-prev {
    left: auto;
    right: 10px;
  }
  
  .owl-three.owl-carousel button.owl-next {
    right: -20px;
  }
  
  /*--//grids2--*/
  /*--/four--*/
  .owl-four.owl-carousel .owl-theme .owl-nav [class*=owl-] {
    background: none !important;
    box-shadow: none !important;
  }
  
  .owl-four.owl-carousel .owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
    box-shadow: none !important;
  }
  
  .owl-four.owl-carousel.owl-theme button.owl-next,
  .owl-four.owl-carousel.owl-theme button.owl-prev {
    position: absolute;
    top: -13%;
    font-size: 30px;
  }
  
  .owl-four.owl-carousel.owl-theme .owl-nav [class*=owl-] {
    color: var(--theme-title);
    background: none !important;
    box-shadow: none !important;
  }
  
  .owl-four.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    color: var(--theme-rose);
  }
  
  .owl-four.owl-carousel button.owl-prev {
    left: auto;
    right: 10px;
  }
  
  .owl-four.owl-carousel button.owl-next {
    right: -20px;
  }
  
  /*--//four--*/
  /*--/team--*/
  .owl-team.owl-carousel .owl-theme .owl-nav [class*=owl-] {
    background: none !important;
    box-shadow: none !important;
  }
  
  .owl-team.owl-carousel .owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
    box-shadow: none !important;
  }
  
  .owl-team.owl-carousel.owl-theme button.owl-next,
  .owl-team.owl-carousel.owl-theme button.owl-prev {
    position: absolute;
    top: -16%;
    font-size: 30px;
  }
  
  .owl-team.owl-carousel.owl-theme .owl-nav [class*=owl-] {
    color: var(--theme-title);
    background: none !important;
    box-shadow: none !important;
  }
  
  .owl-team.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    color: var(--theme-rose);
  }
  
  .owl-team.owl-carousel button.owl-prev {
    left: auto;
    right: 10px;
  }
  
  .owl-team.owl-carousel button.owl-next {
    right: -20px;
  }
  
  /*--//team--*/
  /*--/clents--*/
  .owl-clients.owl-carousel.owl-theme button.owl-next,
  .owl-clients.owl-carousel.owl-theme button.owl-prev {
    display: none;
  }
  
  .owl-clients.owl-carousel.owl-theme .owl-nav [class*=owl-] {
    display: none;
  }
  
  .owl-clients.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    display: none;
  }
  
  .owl-clients.owl-carousel button.owl-prev {
    left: auto;
    right: 10px;
    display: none;
  }
  
  .owl-clients .owl-carousel button.owl-next {
    right: -20px;
    display: none;
  }
  
  .owl-clients.owl-carousel.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
  }
  
  .owl-clients.owl-carousel.owl-theme.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: var(--theme-title);
    display: inline-block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
    position: relative;
    opacity: 0.4;
  
  }
  
  .owl-clients.owl-carousel.owl-theme.owl-dots .owl-dot.active span,
  .owl-clients.owl-carousel.owl-theme.owl-dots .owl-dot:hover span {
    background: var(--theme-rose);
    opacity: 0.9;
  }
  
  .owl-clients.owl-carousel.owl-theme .owl-dots {
    display: inline-block;
    right: 0px;
    left: 0px;
    bottom: -18%;
    margin: 0 auto;
  }
  
  /*--//clients-- LATEST MOVIES*/
  @media all and (max-width:768px) {
    .owl-theme .owl-nav [class*=owl-] {
      margin: 0px;
      width: 0px;
      display: none;
    }
  
    .owl-dots {
      margin-top: 0px;
      right: 0px;
      bottom: 30px;
      left: 0;
    }
  
    .owl-two.owl-carousel.owl-theme button.owl-next,
    .owl-two.owl-carousel.owl-theme button.owl-prev {
      position: absolute;
      top: -12%;
    }
  
    .owl-two.owl-carousel button.owl-prev {
      left: auto;
      right: 30px;
    }
  
    .owl-two.owl-carousel button.owl-next {
      right: 10px;
    }
  
    .owl-three.owl-carousel.owl-theme button.owl-next,
    .owl-three.owl-carousel.owl-theme button.owl-prev {
      position: absolute;
      top: -23%;
    }
  
    .owl-three.owl-carousel button.owl-prev {
      left: auto;
      right: 30px;
    }
  
    .owl-three.owl-carousel button.owl-next {
      right: 10px;
    }
  
    .owl-four.owl-carousel.owl-theme button.owl-next,
    .owl-four.owl-carousel.owl-theme button.owl-prev {
      position: absolute;
      top: -30%;
    }
  
    .owl-four.owl-carousel button.owl-prev {
      left: auto;
      right: 30px;
    }
  
    .owl-four.owl-carousel button.owl-next {
      right: 10px;
    }
  
    .owl-clients.owl-carousel button.owl-prev {
      left: auto;
      right: 30px;
      display: none;
    }
  
    .owl-clients .owl-carousel button.owl-next {
      right: 10px;
      display: none;
    }
  
    .owl-team.owl-carousel.owl-theme button.owl-next,
    .owl-team.owl-carousel.owl-theme button.owl-prev {
      position: absolute;
      top: -19%;
    }
  
    .owl-team.owl-carousel button.owl-prev {
      left: auto;
      right: 30px;
    }
  
    .owl-team.owl-carousel button.owl-next {
      right: 10px;
    }
  }
  
  @media all and (max-width:600px) {
    .owl-clients.owl-carousel.owl-theme .owl-dots {
      display: none;
    }
  
    .owl-four.owl-carousel.owl-theme button.owl-next,
    .owl-four.owl-carousel.owl-theme button.owl-prev {
      position: absolute;
      top: -30%;
      font-size: 30px;
    }
  }
   
/*--/grids--*/
/*--/popular-grids-- LATEST MOVIES*/
.w3l-grids .w3l-populohny-grids {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 30px;
}

/*--//popular-grids--*/
/*--/grids--*/
.w3l-grids .genre-grids {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.w3l-grids .box16 {
  text-align: center;
  color: #fff;
  position: relative;
  display: block;

}

.w3l-grids .box16 figure {
  margin: 0 0 0rem;
}

.w3l-grids .box16 .box-content,
.w3l-grids .box16:after {
  width: 100%;
  position: absolute;
  left: 0;
}

.w3l-grids .box16:after {
  content: "";
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.08) 69%, rgba(0, 0, 0, 0.76) 100%);
  top: 0;
  border-radius: 6px;
  transition: all .5s ease 0s;
}

.w3l-grids .box16 .post,
.w3l-grids .box16 .title {
  transform: translateY(30px);
  transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
}

.w3l-grids .box16:hover:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.09) 11%, rgba(0, 0, 0, 0.12) 13%, rgba(0, 0, 0, 0.19) 20%, rgba(0, 0, 0, 0.29) 28%, rgba(0, 0, 0, 0.29) 29%, rgba(0, 0, 0, 0.42) 38%, rgba(0, 0, 0, 0.46) 43%, rgba(0, 0, 0, 0.53) 47%, rgba(0, 0, 0, 0.75) 69%, rgba(0, 0, 0, 0.87) 84%, rgba(0, 0, 0, 0.98) 99%, rgba(0, 0, 0, 0.94) 100%);
}

.w3l-grids .box16 img {
  width: 100%;
  height: auto;
}

.w3l-grids .box16 .box-content {
  padding: 15px;
  bottom: 30px;
  z-index: 1;
  text-align: left;
}

.w3l-grids .box16 .box-content h4 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  margin: 10px 0 0 0;
}

.w3l-grids .box16 .title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 5px;
  color: #fff;
}

.w3l-grids .box16 span {
  display: inline-block;
  padding: 0px 0;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}

.w3l-grids .box16 span.video-icon {
  position: absolute;
  z-index: 9;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: #fff;
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 39px;
  padding-left: 2px;
}

.w3l-grids .box16 .social li a,
.w3l-grids .box17 .icon li a {
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
}

.w3l-grids .box16:hover .post,
.w3l-grids .box16:hover .title {
  transform: translateY(0);
}

.w3l-grids .box16 .social {
  list-style: none;
  padding: 0 0 5px;
  margin: 40px 0 25px;
  opacity: 0;
  position: relative;
  transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
  transition: all 0.6s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.w3l-grids .box16:hover .social {
  opacity: 1;
  transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0);
}

.w3l-grids .box16 .social:before {
  content: "";
  width: 50px;
  height: 2px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: -23px;
  left: 0;
  right: 0;
}

.w3l-grids .box16 .social li {
  display: inline-block;
}

.w3l-grids a.title-gd {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 5px;
  color: var(--theme-title);
}

.w3l-grids a.title-gd {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 20px 0 7px 0;
  color: var(--theme-title);
  display: inline-block;
}

.w3l-grids .vhny-grid {
  margin-bottom: 24px;
}

.w3l-grids a.title-gd:hover {
  color: var(--theme-rose);
  transition: 0.3s ease-in-out;
}

.w3l-grids .vhny-grid p {
  font-size: 13px;
  line-height: 22px;
}

.w3l-grids .two-gridshny-right p {
  font-size: 15px;
  line-height: 25px;
}

@media (max-width:992px) {
  .w3l-grids .genre-grids {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .w3l-grids .box16 {
    margin-bottom: 0;
  }

  .w3l-grids .w3l-populohny-grids {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width:480px) {
  .w3l-grids .box16 span {
    font-size: 12px;
  }

  .w3l-grids .w3l-populohny-grids {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
  }

  .w3l-grids .w3l-populohny-grids {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
  }
}

/* icon */
.fa-clock-o:before {
  content: "";
}
.w3l-grids .box16 span.video-icon {
  position: absolute;
  z-index: 9;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: #fff;
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 39px;
  padding-left: 2px;
}
.w3l-albums .img-circle span.video-icon {
  opacity: 1;
  position: absolute;
  z-index: 9;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  color: #fff;
  border: 2px solid #fff;
  width: 42px;
  height: 42px;
  line-height: 39px;
  padding-left: 2px;
  background: none;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}

.fa-play:before {
  content: "";
}
*, *::before, *::after {
  box-sizing: border-box;
}.w3l-grids .box16 span.video-icon {
    position: absolute;
    z-index: 9;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 39px;
    padding-left: 2px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icon trái tim */
.fa-heart:before {
  content: "";
}
*, *::before, *::after {
  box-sizing: border-box;
}.w3l-grids .box16 span.fa.fa-heart {
  color: var(--theme-rose);
}
.w3l-grids .box16 span {
  display: inline-block;
  padding: 0px 0;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-right {
  text-align: right !important;
}

.img-fluid {
  max-width: 100%;
  max-height: 340px;
  border-radius: 5px;
}

h3.hny-title, h3.hny-title.two {
    font-size: 26px;
    line-height: 36px;
    color: var(--theme-title);
    text-transform: uppercase;
    font-weight: 700;
}
a.show-title {
  font-size: 20px;
  color: var(--theme-rose);
  font-weight: 700;
}

/* Show all */
.w3l-title-grids {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.text-lg-right {
    text-align: right !important;
}
/* View All */

.view-button {
  padding: 0px 40px;
  color: var(--theme-blue);
  height: 52px;
  display: inline-block;
  font-size: 16px;
  line-height: 50px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid var(--theme-blue);}
  
  .view-button:hover {
    background-color: var(--theme-blue);
    border: 2px solid var(--theme-blue);
    color: #fff;
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
}

/* modal  */


#mymodalcontent {
  background-color: var(--theme-hd-bg);
}

#exampleModalLongTitle {
  color: var(--theme-title);
}

button.closebtn {
  background: darkgray;
  font-size: 1rem;
  border: 0;
}

.modalimg {
  max-height: min-content;
  max-width: max-content;
  margin-bottom: 10px;
}

#dynamic-content h3 {
  color: var(--theme-blue);
  text-align: left;
  font-size: 1rem;
  margin-bottom: 6px;
}

#dynamic-content h4 {
  color: var(--theme-blue);
  text-align: left;
  font-size: 1rem;
  font-weight: 50px;
  margin-bottom: 4px;
}

#dynamic-content p {
  margin-bottom: 20px;
  color: var(--theme-para);
  text-align: left;
}

.bookbtn {
  margin-bottom: 15px;
}

/* modal end */

/* tab */

/*--tabs--*/
.w3l-albums {}

.w3l-albums .slider-info {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: var(--theme-lite);
  border-radius: 6px;
  /* padding: 20px; */
  align-items: center;
  margin-top: 30px;
  border: 1px solid var(--theme-border);
}

.w3l-albums .slider-info:hover {
  border: 1px solid var(--theme-rose);
  transition: 0.3s ease-in-out;
}

.w3l-albums .img-circle {
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  position: relative;
}

.w3l-albums .overlay-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: rgba(11, 13, 14, 0.61);
  border-radius: 6px 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
  -o-border-radius: 6px 0px 0px 6px;
  -mozborder-radius: 6px 0px 0px 6px;
}

.w3l-albums .img-circle span.video-icon {
  opacity: 1;
  position: absolute;
  z-index: 9;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  color: #fff;
  border: 2px solid #fff;
  width: 42px;
  height: 42px;
  line-height: 39px;
  padding-left: 2px;
  background: none;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}

.w3l-albums .img-circle img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
  -o-border-radius: 6px 0px 0px 6px;
  -mozborder-radius: 6px 0px 0px 6px;
}

.w3l-albums h4 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  margin: 10px 0 0 0;
}

.w3l-albums h4 .post {
  display: block;
  padding: 0px 0;
  font-size: 13px;
  color: var(--theme-para);
}

.w3l-albums .message {
  padding-right: 20px;
}

.w3l-albums span.post.fa.fa-heart {
  color: var(--theme-rose);
}

.w3l-albums a:hover {
  color: var(--theme-rose);
  transition: 0.3s ease-in-out;
}

.w3l-albums a.author-book-title {
  color: var(--theme-title);
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
  text-transform: capitalize;
}

.w3l-albums a.author-book-title:hover {
  color: var(--theme-rose);
  transition: 0.3s ease-in-out;
}

.w3l-albums .message p {
  margin-bottom: 0px;
  line-height: 14px;
}

@media (max-width: 667px) {
  .w3l-albums .slider-info {
    grid-gap: 20px;
  }
}

@media (max-width: 480px) {
  .w3l-albums .slider-info {
    grid-gap: 10px;
  }
}

@media screen and (max-width: 992px) {
  .w3l-albums .albums-content h3 {
    margin-bottom: 14px;
    font-size: 26px;
    line-height: 33px;
  }
}

@media screen and (max-width: 480px) {
  .w3l-albums .albums-content {
    margin-bottom: 30px;
  }
}

/*  /section */
ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

ul.resp-tabs-list {
  max-width: 600px;
  /* margin-left: auto; */
  margin-right: auto;
}

.resp-tabs-list li {
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  margin: 0 2% 0 0%;
  list-style: none;
  cursor: pointer;
  float: left;
  width: 31%;
  text-align: center;
  /* color: var(--theme-title) ; */
  background-color: var(--theme-lite);
  border-bottom: none;
  border-radius: 6px;
}

.resp-tabs-list li img {
  margin-right: 30px;
}

.resp-tabs-container {
  padding: 0px;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  margin-bottom: -1px !important;
  border: none !important;
  color: var(--theme-title) !important;
  background: #df0e62 !important;
}

.resp-content-active,
.resp-accordion-active {
  display: block;
}

.resp-tab-content {
  border-top-color: #5AB1D0;
}

h2.resp-accordion {
  font-size: 20px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 16px 16px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 16px 16px !important;
  border-radius: 6px 6px 0 0;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0 0 4px;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid var(--theme-lite) !important;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 6px;
  clear: none;
}

.resp-vtabs .resp-tab-content {
  border: none;
  word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
  border-top: 1px solid;
  border: 1px solid #5AB1D0 !important;
  border-left: 4px solid #5AB1D0 !important;
  margin-bottom: 4px !important;
  border-right: 1px #FFF solid !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #fff;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
  background: #DBDBDB;
  border-bottom: none !important;
  /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
  display: block;
}

.resp-easy-accordion .resp-tab-content {
  border: 1px solid var(--theme-lite) !important;
}

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid var(--theme-lite) !important;
  /* !important;*/
}

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active {
  display: block;
}

h2.resp-accordion:first-child {
  border-top: 1px solid var(--theme-lite);
  /* !important;*/
}
